$color-primary: hsl(240, 38%, 20%);
$color-secondary: hsl(240, 18%, 77%);
$main-font: "Inter", sans-serif;
$bp-small: 620px;
$bp-medium: 980px;
$bp-large: 1200px;

body {
  font-family: $main-font;
  font-weight: 300;
  color: $color-primary;
}

body,
h1,
h2 {
  font-size: 1.6rem;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 500;
  color: $color-secondary;
}

.main {
  width: 80vw;
  max-width: 64rem;
  margin: 2.4rem auto 0 auto;
}

.btn {
  border: none;
  background-color: #fff;
  width: 50%;
  height: 100%;
  border: 1px solid #cacaca;
  outline: none;
  cursor: pointer;
  transition: all 0.3 ease-in;
  &:hover {
    transform: scale(0.9);
  }
}
.bg {
  height: 100%;
  background-image: url($bg-main);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 80%;
}
