@media screen and (min-width: $bp-small) {
  .testimony {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: $bp-medium) {
  body {
  }
  .main {
    max-width: 120rem;
  }
  .profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: none;
    &__pic {
      min-width: 52.2rem;
      width: 69.9rem;
    }
  }
  .testimony {
    font-size: 2.4rem;
    text-align: left;
    &__text {
      background-position: left 20% top 0;
      background-size: 30%;
      padding-top: 8rem;
    }
    &__title,
    &__subtitle {
      display: inline-block;
    }
  }
  .slider {
    left: 10%;
  }
  .bg {
    background-size: 50%;
  }
}

@media screen and (min-width: $bp-large) {
  .testimony {
    font-size: 3.2rem;
    position: absolute;
    margin-left: 16.7rem;
    right: 45vw;
    max-width: 63rem;
  }
}
