html {
  background-image: linear-gradient(
    $gradient-deg,
    $first-gradient-from,
    $first-gradient-to
  );
}
body {
  font-family: $main-font;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  width: 80vw;
  max-width: 49.6rem;
}

.display-grid {
  @include mq($bp-lg) {
    background-image: url(../images/bg-pattern-desktop.svg);
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
}
