.main {
  margin-top: 6.6rem;
  text-align: center;
  &__title {
    margin: 0 auto;
    max-width: 34rem;
    font-size: 4.8rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    & span:first-child {
      color: $color-primary-desaturated;
      font-weight: 200;
    }
  }
  &__text {
    font-size: 1.4rem;
    line-height: 3rem;
    margin: 2.9rem 0 4rem;
    color: $color-primary-desaturated;
    @include mq($bp-sm) {
      font-size: 1.6rem;
    }
  }
}
