$color-primary: hsl(0, 93%, 68%);
$color-primary-desaturated: hsl(0, 36%, 70%);
$color-primary-dark: hsl(0, 6%, 24%);
$first-gradient-from: hsl(0, 0%, 100%);
$first-gradient-to: hsl(0, 100%, 98%);
$second-gradient-from: hsl(0, 80%, 86%);
$second-gradient-to: hsl(0, 74%, 74%);
$gradient-deg: 135deg;
$main-font: "Josefin Sans", sans-serif;
$bp-sm: 620px;
$bp-md: 960px;
$bp-lg: 1200px;
