.accordion {
  &__item {
    border-bottom: 1px solid $color-divider;
    &:first-child .accordion__label {
      padding-top: 0rem;
    }
  }
  &__input {
    display: none;
    &:checked ~ .accordion__content {
      height: 5rem;
    }
    &:checked ~ .accordion__label {
      font-weight: bold;
      color: $color-text-primary;
    }
    &:checked ~ .accordion__label .accordion__icon img {
      transform: rotateX(180deg);
    }
  }

  &__icon {
    img {
      transition: all 0.3s linear;
    }
  }
  &__label {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    color: $color-text-darker;
    cursor: pointer;
  }
  &__content {
    height: 0;
    color: $color-text-dark;
    overflow: hidden;
    transition: all 0.3s linear;
  }
}
