$color-text-primary: hsl(238, 29%, 16%);
$color-text-secondary: hsl(14, 88%, 65%);
$color-text-dark: hsl(240, 6%, 50%);
$color-text-darker: hsl(237, 12%, 33%);
$color-bg-primary: hsl(273, 75%, 66%);
$color-bg-secondary: hsl(240, 73%, 65%);
$color-divider: hsl(240, 5%, 91%);
$main-font: "Kumbh Sans", sans-serif;

body {
  font-size: 1.2rem;
  font-family: $main-font;
  background: linear-gradient(
    to bottom,
    $color-bg-primary,
    $color-bg-secondary
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main {
  margin: 14.8rem auto;
  height: 53.5rem;
  width: 32.7rem;
  max-width: 92rem;
  background-color: #fff;
  padding: 0 2.4rem;
  border-radius: 2rem;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 26rem;
    height: 21.5rem;
    top: 4.7rem;
    background-image: url($woman-bg-shadow), url($woman-bg);
    background-repeat: no-repeat no-repeat;
    background-position: bottom 1rem left 1.8rem, top -0.6rem left -1rem;
  }

  &__title {
    display: block;
    padding-top: 13.8rem;
    text-align: center;
  }
}
