@use './variables' as *;
@use './functions' as *;
@use './mixins' as *;
html {
  font-size: $default-font-size;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: rem(18);
  font-weight: 300;
  color: $grayish-blue;
  line-height: 1.3;
  overflow-x: hidden !important;
  @include lg {
    font-size: rem(18);
  }
  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.15;
  color: $blue-dark;
}
h1 {
  margin-bottom: rem(24);
  font-size: rem(36);
  @include lg {
    font-size: rem(52);
  }
}
h2 {
  font-size: rem(30);
  margin-bottom: rem(25);
  @include lg {
    font-size: rem(36);
    margin-bottom: rem(36);
  }
}

p {
  font-size: rem(14);
  line-height: 1.5;
  margin-bottom: rem(36);
  @include lg {
    font-size: rem(18);
  }
}
a,
a:hover,
a:visited {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//Container
.container {
  max-width: rem(1440);
  margin: 0 auto;
  &--pall {
    padding: rem(70) rem(24);
    @include lg {
      padding: rem(96) rem(24);
    }
  }
  &--py {
    padding-top: rem(70);
    padding-bottom: rem(70);
  }
  &--px {
    padding-left: rem(24);
    padding-right: rem(24);
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

//Buttons
.button {
  display: inline-block;
  padding: rem(14) rem(35);
  font-weight: 700;
  font-size: rem(14);
  color: $white;
  border-radius: rem(50);
  background: linear-gradient(to right, $lime-green, $cyan-bright);
  cursor: pointer;
  transition: filter 200ms ease-in-out;
  &:hover {
    filter: brightness(1.05);
  }
}

.pad-x-y {
  padding: rem(36) 0;
}

.hide-for-mobile {
  display: none;
}

@include lg {
  .hide-for-desktop {
    display: none;
  }
  .hide-for-mobile {
    display: block;
  }
}
