@use './variables' as *;
@use './functions' as *;
@use './animations' as *;
.header {
  &.open {
    .overlay {
    }
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: rem(60);
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($blue-dark, transparent);
  }

  nav {
    padding: rem(17) 0;
  }
  &__logo {
    img {
      width: rem(141);
      height: rem(22);
    }
  }
  &__toggle {
    width: rem(26);
    background-color: $white;
    border: none;
    > span {
      display: block;
      width: 100%;
      height: rem(2);
      background-color: $blue-dark;
      transition: all 300ms ease-in-out;
      transform-origin: rem(3) rem(1);
      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }
  }
  &__menu {
    position: absolute;
    width: calc(100% - 6rem);
    margin: 1.5rem auto 0;
    left: 0;
    right: 0;
    // left: 50%;
    // transform: translateX(-50%);
    background: $white;
    padding: rem(26);
    border-radius: rem(5);
    a {
      display: block;
      padding: rem(10);
      color: $blue-dark;
      text-align: center;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: rem(14);
      color: $grayish-blue;
      transition: color 200ms ease-in-out;
      &:not(:last-child) {
        margin-right: rem(32);
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        height: rem(5);
        left: 0;
        right: 0;
        bottom: rem(-30);
        background: linear-gradient(to right, $lime-green, $cyan-bright);
        opacity: 0;
        transition: 300ms ease-in-out;
      }
      &:hover {
        &::after {
          opacity: 1;
        }

        color: $blue-dark;
      }
    }
  }
  &__cta {
    font-size: rem(14);
    color: $white;
    transition: opacity 200ms ease-in-out;
    &:hover {
      opacity: 0.75;
    }
  }
}
