//Colors
//Primary
$blue-dark: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$cyan-bright: hsl(192, 70%, 51%);

//Neutral
$grayish-blue: hsl(233, 8%, 62%);
$grayish-blue-light: hsl(220, 16%, 96%);
$gray-very-light: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//Font
$default-font-size: 100%;
$main-font: "Public Sans", sans-serif;

//BreakPoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
