$color-primary: hsl(212, 23%, 69%);
$color-primary-light: hsl(210, 46%, 95%);
$color-primary-dark: hsl(214, 17%, 51%);
$color-primary-darker: hsl(217, 19%, 35%);

body {
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
}
