.desc {
  &__title {
    font-size: 1.3rem;
    @include mq($bp-xs) {
      font-size: 2rem;
    }
  }
  &__info {
    font-size: 1rem;
    margin: 1rem 0;
    @include mq($bp-xs) {
      font-size: 1.3rem;
      margin: 2.5rem 0;
    }
    @include mq($bp-md) {
      margin: 1rem 0;
    }
  }
}
