.profile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include mq($bp-md) {
    bottom: -4rem;
  }
  &__wrapper {
    display: none;
    align-items: center;
    width: 100%;
    @include mq($bp-md) {
      display: flex;
    }
  }
  &__text {
    margin-left: 1.5rem;
  }
  &__name {
    font-size: 1.3rem;
  }
  &__img {
    width: 20%;
    max-width: 5.5rem;
    border-radius: 50%;
  }
  .container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    @include mq($bp-md) {
      width: 100%;
    }
  }
  transition: all 0.5s ease-in-out;
}
.share {
  width: 5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $color-primary-light;
  cursor: pointer;
  // @include mq($bp-xs) {
  //   height: 4rem;
  // }
  @include mq($bp-sm) {
    height: 5rem;
  }
  &__icon {
    text-align: center;
    width: 1.6rem;
    @include mq($bp-sm) {
      width: 2rem;
    }
  }
}
.social {
  display: none;
  width: 100%;
  &__wrapper {
    display: flex;
    align-items: center;
    @include mq($bp-md) {
      width: 100%;
      justify-content: center;
    }
  }
  &__text {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: $color-primary;
  }
  &__icons {
    display: flex;
    justify-content: space-around;
    width: 10rem;
    margin-left: 1rem;
  }
  @include mq($bp-md) {
    position: absolute;
    right: -10rem;
    bottom: 9.6rem;
    width: 24.8rem;
    height: 5.5rem;
    background-color: $color-primary-darker;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3.5rem;
      left: 10.7rem;
      border: 2rem solid;
      border-color: $color-primary-darker transparent transparent transparent;
    }
  }
}
.profile--active {
  background-color: $color-primary-darker;
  border-radius: 0 0 1.5rem 1.5rem;
  @include mq($bp-md) {
    background-color: #fff;
    border-radius: none;
  }
}
.display {
  display: flex;
}
.share--active {
  background-color: $color-primary;
  .share__icon {
    filter: brightness(0) invert(1);
  }
}
