.profile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include mq($bp-md) {
    bottom: -4rem;
  }
  &__wrapper {
    display: none;
    align-items: center;
    width: 100%;
    @include mq($bp-md) {
      display: flex;
    }
  }
  &__text {
    margin-left: 1.5rem;
  }
  &__name {
    font-size: 1.3rem;
    @include mq($bp-xs) {
      font-size: 1rem;
    }
  }
  &__img {
    width: 20%;
    max-width: 5.5rem;
    border-radius: 50%;
  }
  .container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    @include mq($bp-md) {
      width: 100%;
    }
  }
}
